<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/resources/images/logo.ico" type="image/x-icon">
    <title>Вход</title>
    <link rel="stylesheet" href="/resources/styles/main.css">
    <link rel="stylesheet" href="/resources/styles/login.css">
</head>
<body>
    <div class="container">
        <form name="f" method="POST" th:action="@{/login}" th:object="${user}">
            <div style="display: flex; justify-content: center; margin-bottom: 20px;">
                <h2>С возвращением!</h2>
            </div>
            <div th:if="${param.error}" class="alert alert-error">
                Неправильный логин или пароль!
            </div>
            <div class="form-group">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="username"/>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password"/>
            </div>
            <div style="display: flex; justify-content: center; align-self: center;">
                <button type="submit">Вход</button>
            </div>
        </form>
        <p>Нет аккаунта? <a href="/register" style="text-decoration: none; color: #6A9860; font-weight: 700;">Зарегестрироваться</a></p>
    </div>
</body>
</html>