button {
    background: #018d0d;
    color: #fff;
    border: none;
    margin-top: 50px;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: medium;
}

button:hover {
    background: #006508;
}

h2 {
    margin-bottom: 10px;
}
.order-list {
    list-style-type: none;
    padding: 0;
}
.order-item {
    margin-bottom: 10px;
}

main {
    display: flex;
    margin: 100px 300px 250px 300px;
    align-items: center;
    flex-direction: column;
}